@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}


/* utilities style starts here */
/* style for dotted border patition on top nav */
.dot-line {
  @apply border-dotted border-l-4 border-gray-500 h-4 w-6;
}


.flex-items__center {
  @apply flex items-center
}

.md-flex-items__center {
  @apply md:flex md:items-center
}

.social-icons {
  @apply rounded-full border border-white text-sm  p-2 cursor-pointer md:text-2xl
}

/* utilties styles end here */